<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/login-js/app.js"></script>
    <script defer src="/login:register/login-js/app.js"></script>
    <script src="/login:register/login-js/load.js"></script>
    <link rel="stylesheet" type="text/css" href="/login:register/css/cssPaydan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+Sogdian&family=Rubik+Iso&family=Rubik:ital,wght@0,500;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">

        <div class="PayDon">

            <div class="title">
                <h1 class="text">ORANGE</h1>
            </div>


            <div class="username">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="Email or Username" required>
            </div>
            

            <div class="password">
                <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Your Password" required>                
            </div>


            <div class="submittt">
                <a href="">
                <button>Next</button>
                </a>
            </div>


            <div class="or">
                <div class="empty">
                </div>
                <p>or</p>
                <div class="empty">
                </div> 
            </div>


            <div class="signup">
                <a class="signup" href="http://127.0.0.1:5000">
                <button type="submit">SING UP</button>
                </a>
            </div>


        </div>



        <div class="lang">
            
        
            <div class="dropdown">
                <button class="language">American</button>
                
                <div class="dropdown-content">
                    <button class="languages">American</button>
                    <button class="languages">Italian</button>
                    <button class="languages">Germany</button>

                </div>
            </div>

        </div>
    </div>
    
</body>
</html>