<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lora:ital,wght@0,500;1,600&family=Noto+Serif:wght@400;800;900&display=swap" rel="stylesheet">    <title>Document</title>
</head>
<body>
    
    <div class="main">

        <div class="right">
            <div class="menu-bar">
                <img class="logo-image" src="/image/orange00.png" alt="logo">
                <button class="menu-button">SERVICES</button>
                <button class="menu-button">OFFICE</button>
                <button class="menu-button">TEAM</button>
                <button class="menu-button">ABOUT</button>
            </div>

            <div class="image"> 
                <img class="background" src="/image/2.png" alt="">
            </div>
            <div class="under-box">
                <button class="box">container 1</button>
                <button class="box">container 1</button>
                <button class="box">container 1</button>

            </div>
        </div>



            

        <div class="left">

            <div class="login-bar">
                <a href="/login:register/index.html">
                <button class="login-button">LOGIN</button>
                </a>
            </div>
            
            <div class="title">
                <h1>Your legal advisers for the problems of this century</h1>
                <h3>We offer solutions adapted to today's needs</h3>
            </div>

            <div class="more-button">
                <a href="https://prismatic-daifuku-7d6c1e.netlify.app">
                <button class="more">VIEW MORE</button>
                </a>
            </div>

        </div>


    </div>


    
</body>
</html>